<div class="col-md-6">
    <div class="thumbnail addWidget" data-widgetid="{{ widget.id }}" data-pageId="{{ pageId }}"
         data-title="{{ widget.title }}" data-type="{{ widget.type }}">
        <div class="caption">
            <h4>{{ widgetTitle }}</h4>
            <img src="{{ imgPath }}"/>
        </div>
    </div>
</div>