{% import "::blocks/utility/summary.html.twig" as Utility -%}
<div class="summary-card" summary-type="8" data-id="{{ item.id }}">
    {% if not HookFire('listingsummary_before_render_thumbnail', {"data": data, 'itemLevelInfo': itemLevelInfo, 'detailURL': detailURL, 'flags': flags}, true) %}
        {% if not (flags < 2 and not HookFire('summary_check_noimage', {}, true))  %}
            {% set image = data.thumbnail -%}
        {% else -%}
            {% set image = utility_getNoImagePath(data.title)|imagine_filter('noImage_large') -%}
        {% endif -%}

        {% if itemLevelInfo.hasDetail -%}
            <a href="{{ detailURL }}" class="summary-picture">
                {{ tagPicture(image, data.title) }}
            </a>
        {% else %}
            <div class="summary-picture">
                {{ tagPicture(image, data.title) }}
            </div>
        {% endif %}
    {% endif -%}

    <div class="summary-content">
        <div class="summary-heading hidden-grid-view">
            {#title#}
            {% if itemLevelInfo.hasDetail -%}
                <a href="{{ detailURL }}" class="summary-title">{{ data.title }}</a>
            {% else %}
                <div class="summary-title">{{ data.title }}</div>
            {% endif %}
            {#end title#}
            {#categories#}
            {% if itemCategories is not empty -%}
                {{ Utility.category(itemCategories, pageCategories, "listing") }}
            {% endif %}
            {#end categorie#}
        </div>
        <div class="summary-title-content hidden-list-view">
            {% if data.claim -%}
                {% set claimLabel = getSetting('claim_textlink') %}
                <a href="{{ path("listing_claim", { "friendlyUrl" : data.friendlyUrl }) }}" class="button button-sm is-outline summary-claim">{{ claimLabel ?: "Is this your listing?"|trans }}</a>
            {% endif %}
            {#title#}
            {% if itemLevelInfo.hasDetail -%}
                <a href="{{ detailURL }}" class="summary-title">{{ data.title }}</a>
            {% else %}
                <div class="summary-title">{{ data.title }}</div>
            {% endif %}
            {#end title#}
        </div>
        {% if itemCategories is not empty -%}
            <div class="hidden-list-view">
                {{ Utility.category(itemCategories, pageCategories, "listing") }}
            </div>
        {% endif %}
        {#address#}
        {% if ((verifyAddress(data.address.street, data.address.complement, data.address.zipcode, itemLocations, pageLocations)) and not(HookFire('listingsummary_before_render_location', {"data": data, 'itemLocations': itemLocations, 'item': item}, true))) -%}
            <div class="summary-address">
                {{ Utility.address( null, null, data.address.street, data.address.complement, data.address.zipcode, itemLocations, pageLocations)}}
                {% if data.distance and data.distance < 40000 %}
                    <div class="summary-distance">
                        {{ parseDistanceUnit(data.distance, isDistanceSorterEnabled, summaryTitle)|raw }}
                    </div>
                {% endif %}
            </div>
        {% endif -%}
        {#end address#}
        {% if itemLevelInfo.hasSummaryDescription and data.description is not empty -%}
            <div class="summary-description hidden-grid-view">
                {{ data.description }}
            </div>
        {% endif %}
        {% if (itemLevelInfo.hasPhone and ((data.phone is not empty) or HookFire('summary_overwrite_phone'))) or (itemLevelInfo.hasAdditionalPhone and data.additionalPhone is not empty) %}
            <div class="summary-info hidden-list-view">
                {{ Utility.infoAdditionalPhone(itemLevelInfo,data,item) }}
            </div>
        {% endif %}
        <div class="summary-actions hidden-list-view">
            {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
        </div>
        <div class="summary-footer hidden-grid-view">
            {% if (itemLevelInfo.hasPhone and ((data.phone is not empty) or HookFire('summary_overwrite_phone'))) or (itemLevelInfo.hasAdditionalPhone and data.additionalPhone is not empty) %}
                <div class="summary-info">
                    {{ Utility.infoAdditionalPhone(itemLevelInfo,data,item) }}
                </div>
            {% endif %}
            <div class="summary-footer-action">
                {% if data.claim -%}
                    {% set claimLabel = getSetting('claim_textlink') %}
                    <a href="{{ path("listing_claim", { "friendlyUrl" : data.friendlyUrl }) }}" class="button button-sm is-outline summary-claim">{{ claimLabel ?: "Is this your listing?"|trans }}</a>
                {% endif %}
                {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
            </div>
        </div>
    </div>
</div>
