{% for item in items -%}
    {% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

    {% set title = item.title -%}
    {% set link = path('forum_detail', {friendlyUrl: item.friendlyUrl, _format: 'html'}) -%}

    {% if loop.first %}
<div class="cards-default cards-question full-width" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles">
    <div class="cards-list">
        <div class="card" data-columns="1">
            <div class="content">
                <div class="question-title-header">
                    <div class="paragraph p-4 blog-category">{{ date(item.publicationDate)|localized_date('MMM dd, yyyy hh:mm') }}</div>
                </div>
                <a href="{{ link }}" class="question-title heading h-2">{{ title }}</a>
                <div class="question-title-header">
        {% if item.categories -%}
                    {{UtilityCards.categories(item.categories, content.module)}}
        {% endif %}
                </div>
        {% if item.description is not empty -%}
                <div class="description">
                    <p class="paragraph p-1">{{ (item.description[:250]|raw) }}...</p>
                </div>
        {% endif %}
            </div>
        </div>
    {% endif %}
    {% if items|length > 1 %}
        {% if not loop.first %}
        <div class="card" data-columns="1">
            <div class="content">
                <div class="question-title-header">
                    <div class="paragraph p-4 blog-category">{{ date(item.publicationDate)|localized_date('MMM dd, yyyy hh:mm') }}</div>
                </div>
                <a href="{{ link }}" class="question-title heading h-4">{{ title }}</a>
                <div class="question-title-header">
            {% if item.categories -%}
                    {{UtilityCards.categories(item.categories, content.module)}}
            {% endif %}
                </div>
            {% if item.description is not empty -%}
                <div class="description">
                    <p class="paragraph p-3">{{ (item.description[:250]|raw) }}...</p>
                </div>
            {% endif %}
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if loop.last %}
    </div>
</div>
    {% endif %}
{% endfor %}
