<li {{ activeTab }} data-customtab>
    <a href="/sitemgr/content/listing/linkedlisting.php?id={{ listingId }}&fieldId={{ linkedListing.id }}&listingtemplate_id={{ templateId }}" role="tab">{{ linkedListing.label }}</a>
</li>
