<div class="panel panel-form">
    <div class="panel-blocked" data-block="field-{{ field['id'] }}" {{ showField ? 'style="display: none;"' : '' }}>
        <img src="/sitemgr/assets/img/locker-panel.svg" alt="Locker">
        {% if blockMessage is not empty %}
            <p>{{ blockMessage|raw }}</p>
        {% endif %}
    </div>

    <div class="panel-heading">
        {{ field['label'] }}
    </div>

    <div class="panel-body">
        <div class="form-group form-horizontal">
            <input type="url" class="form-control formatLink" id="field-{{ field['id'] }}" name="listingField[{{ field['id'] }}]" value="{{ listingField[field['id']] }}">
        </div>
    </div>
</div>
