{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

<div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" scrollable="false" mobile-columns="false" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container" data-trans="{{ 'Centralized Highlighted Card'|trans({}, 'widgets') }}">
        <div class="cards-header">
            <h2 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h2>
            {% if widgetLink is not empty %}
                <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more articles'|trans({},'widgets') }}">
                    {{ content.widgetLink.label|trans({}, 'widgets') }}
                </a>
            {% endif %}
        </div>
        <div class="card-wrapper centralized-highglighted-card">
            <div class="card-wrapper">
                <div class="cards-list">
                    {% for item in items -%}

                    {% if loop.index != 3 %}

                    {% set itemData = getCardData(item, 'article') %}

                    <div class="card-centralized" id="centralized-article-{{ itemData.itemId }}">

                        {{ tagPicture(itemData.imagePath, item.title, {}, 'background', 'centralized-article-' ~ itemData.itemId) }}

                        <div class="content">
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module, 'centralized-dropdown-toggle')}}
                            {% endif %}

                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>

                            <div class="date">
                                {{ date(item.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}
                            </div>

                            {% if item.author.name %}
                                <div class="author">
                                    <div class="author-picture">
                                        {% if item.authorImageId != 0 %}
                                            {{ tagPicture(itemData.authorImage, item.author.name, {'desktop': 'logo_icon', 'laptop': 'logo_icon', 'tablet': 'logo_icon', 'mobile': 'logo_icon'}) }}
                                        {% else %}
                                            <i class="fa fa-user"></i>
                                        {% endif %}
                                    </div>
                                    <div class="author-name">{{ 'By'|trans }}
                                        {% if item.author.url %}
                                            <a href="{{ item.author.url }}" class="link">
                                                {{ item.author.name }}
                                            </a>
                                        {% else %}
                                            {{ item.author.name }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}

                    {% set itemData = getCardData(item, 'article') %}

                </div>
            </div>
            <div class="card-wrapper">
                <div class="cards-list">
                    <div class="card-centralized" id="centralized-article-{{ itemData.itemId }}">

                        {{ tagPicture(itemData.imagePath, item.title, {'tablet': 'medium'}, 'background', 'centralized-article-' ~ itemData.itemId) }}

                        <div class="content">
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module, 'centralized-dropdown-toggle')}}
                            {% endif %}

                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>

                            <div class="date">
                                {{ date(item.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}
                            </div>

                            {% if item.abstract is not empty -%}
                                {% set description = item.abstract -%}
                            {% endif -%}

                            {% if description is not empty -%}
                                <div class="description">
                                    <p class="paragraph">{{ description|length > 180 ? description|slice(0,179) ~ '...' : description }}</p>
                                </div>
                            {% endif %}

                            {% if item.author.name %}
                                <div class="author">
                                    <div class="author-picture">
                                        {% if item.authorImageId != 0 %}
                                            {{ tagPicture(itemData.authorImage, item.author.name, {'desktop': 'logo_icon', 'laptop': 'logo_icon', 'tablet': 'logo_icon', 'mobile': 'logo_icon'}) }}
                                        {% else %}
                                            <i class="fa fa-user"></i>
                                        {% endif %}
                                    </div>
                                    <div class="author-name">{{ 'By'|trans }}
                                        {% if item.author.url %}
                                            <a href="{{ item.author.url }}" class="link">
                                                {{ item.author.name }}
                                            </a>
                                        {% else %}
                                            {{ item.author.name }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="cards-list">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
