{% import "::blocks/utility/summary.html.twig" as Utility -%}
<div class="summary-card" data-type="listing" summary-type="6" data-id="{{ item.id }}">
    <div class="summary-picture">
        {% if not HookFire('listingsummary_before_render_thumbnail', {"data": data, 'itemLevelInfo': itemLevelInfo, 'detailURL': detailURL, 'flags': flags}, true) %}
            {% if not (flags < 2 and not HookFire('summary_check_noimage', {}, true))  %}
                {% set image = data.thumbnail -%}
            {% else -%}
                {% set image = utility_getNoImagePath(data.title)|imagine_filter('noImage_large') -%}
            {% endif -%}

            {% if itemLevelInfo.hasDetail -%}
                <a href="{{ detailURL }}">
                    {{ tagPicture(image, data.title) }}
                </a>
            {% else -%}
                {{ tagPicture(image, data.title) }}
            {% endif -%}
        {% endif -%}

        {% if itemLevelInfo.hasReview and getSetting("review_listing_enabled") -%}
        <div class="summary-picture-actions">
            {{ Utility.stars(data) }}
            {{ Utility.review(item) }}
        </div>
        {% endif %}
    </div>
    <div class="summary-content">
        <div class="summary-heading hidden-grid-view">
            <div class="summary-heading-left">
                {% if itemCategories is not empty -%}
                    {{ Utility.category(itemCategories, pageCategories, "listing") }}
                {% endif %}
                {#title#}
                {% if itemLevelInfo.hasDetail -%}
                    <a href="{{ detailURL }}" class="summary-title">{{ data.title }}</a>
                {% else %}
                    <div class="summary-title">{{ data.title }}</div>
                {% endif %}
                {% if data.claim -%}
                    {% set claimLabel = getSetting('claim_textlink') %}
                    <a href="{{ path("listing_claim", { "friendlyUrl" : data.friendlyUrl }) }}" class="button button-sm is-outline summary-claim">{{ claimLabel ?: "Is this your listing?"|trans }}</a>
                {% endif %}
            </div>

            {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
        </div>
        <div class="summary-title-content hidden-list-view">
            {#title#}
            {% if itemLevelInfo.hasDetail -%}
                <a href="{{ detailURL }}" class="summary-title">{{ data.title }}</a>
            {% else %}
                <div class="summary-title">{{ data.title }}</div>
            {% endif %}
            {% if data.claim -%}
                {% set claimLabel = getSetting('claim_textlink') %}
                <a href="{{ path("listing_claim", { "friendlyUrl" : data.friendlyUrl }) }}" class="button button-sm is-outline summary-claim" full-width="true">{{ claimLabel ?: "Is this your listing?"|trans }}</a>
            {% endif %}
        </div>
        {% if ((verifyAddress(data.address.street, data.address.complement, data.address.zipcode, itemLocations, pageLocations)) and not(HookFire('listingsummary_before_render_location', {"data": data, 'itemLocations': itemLocations, 'item': item}, true))) %}
            <div class="summary-address">
                {{ Utility.address( null, null, data.address.street, data.address.complement, data.address.zipcode, itemLocations, pageLocations)}}
                {% if data.distance and data.distance < 40000 %}
                    <div class="summary-distance">
                        {{ parseDistanceUnit(data.distance, isDistanceSorterEnabled, summaryTitle)|raw }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if (itemLevelInfo.hasPhone and ((data.phone is not empty) or HookFire('summary_overwrite_phone'))) or (itemLevelInfo.hasAdditionalPhone and data.additionalPhone is not empty) %}
            <div class="summary-info">
                {{ Utility.infoAdditionalPhone(itemLevelInfo,data,item) }}
            </div>
        {% endif %}
        {% if itemLevelInfo.hasSummaryDescription and data.description is not empty -%}
            <div class="summary-description">
                {{ data.description }}
            </div>
        {% endif %}
    </div>
    <div class="summary-footer hidden-list-view">
        {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
    </div>
</div>
