{% if data.yelpRating is defined %}
    <div class="details-reviews yelp">
        <div class="reviews-stars">
            <div class="yelp-rating large" rating="{{ data.yelpRating }}">
                <div class="value">{{ data.yelpRating|number_format(1, 'decimal.separator'|trans({},'units')) }}</div>
            </div>
            <div class="yelp-reviews-count">{{ "{0}No Yelp Reviews|{1}Based on %count% Yelp Review|]1,Inf[Based on %count% Yelp Reviews"|transchoice(data.yelpReviewCount, {"%count%":data.yelpReviewCount}) }}</div>
        </div>
        <div class="yelp-logo">
            <a href="{{ data.yelpUrl }}" rel="noopener noreferrer nofollow" target="_blank">
                <img src="{{ asset('bundles/yelpintegration/img/Yelp_trademark_RGB_outline.png') }}" alt=""/>
            </a>
        </div>
    </div>
{% endif -%}
