{#  Newsletter Block -#}
{% set newsletter = getSetting('arcamailer_customer_listid') -%}

{% if newsletter -%}

    {% set backgroundImage = backgroundImage(content.unsplash, content.imageId, 'newsletter-' ~ content.imageId, content.labelSignupFor|trans({}, 'widgets'), 'slider_image') %}

    <div class="hero-default {{ content.unsplash is not empty or content.imageId is not empty ? '' : 'empty-hero' }}" data-type="2" {{ content.imageId is not empty ? 'id=newsletter-' ~ content.imageId : '' }}
         style="{{ (content.unsplash is not empty ? 'background-image:url(' ~ content.unsplash|raw ~ ')' : '' ) }}" data-align="{{ content.dataAlignment }}">
        {# General Background Image -#}
        <div class="container" data-trans="{{ 'Newsletter'|trans({}, 'widgets') }}">
            <div class="wrapper">
                <div class="hero-header">
                    <h2 class="heading h-3" data-trans="{{ 'Sign up for our newsletter'|trans({}, 'widgets') }}">
                        {{ content.labelSignupFor|trans({}, 'widgets') }}
                    </h2>
                    <p class="paragraph p-2" data-trans="{{ 'Sign up for our monthly newsletter. No spams, just product updates.'|trans({}, 'widgets') }}">
                        {{ content.labelNewsletterDesc|trans({}, 'widgets') }}
                    </p>
                </div>
                <form id="formNewsletter" class="hero-form">
                    <div class="alert-message" data-type="success" is-dismissible="false" is-visible="false"></div>
                    <div class="hero-form-wrapper">
                        <div class="input-group">
                            <input type="text" class="input" id="name" name="name" placeholder="{{ 'Your Name'|trans }}">
                            <div class="alert-message" data-field="name" data-type="error" is-dismissible="false" is-visible="false"></div>
                        </div>

                        <div class="input-group">
                            <input type="email" class="input" id="email" name="email" placeholder="{{ 'Your e-mail'|trans }}">
                            <div class="alert-message" data-field="email" data-type="error" is-dismissible="false" is-visible="false"></div>
                        </div>

                        <button class="button button-bg is-primary" data-size="" data-content=""
                                data-loading="{{ 'Please, wait...'|trans }}">
                            {{ "Sign Up"|trans }}
                        </button>
                    </div>
                    {% if ( getSetting('userconsent_status') =='on' ) %}
                        {#check box accept the information#}
                        <div class="consents-block">
                            <label for="termsService-newsletter" class="form-remember">
                                <input type="checkbox" name="termsService" id="termsService-newsletter" required>
                                {{ 'By signing up, you agree to our %start_terms% Terms of Services %end_terms% and %start_privacy% Privacy Policy %end_privacy%.'| trans({'%start_terms%' : '<a href="/'~getParameter('alias_terms_url_divisor')~'" class="link">', '%end_terms%' : '</a>', '%start_privacy%' : '<a href="/'~getParameter('alias_privacy_url_divisor')~'" class="link">', '%end_privacy%' : '</a>'}, 'account') | raw }}
                            </label>
                            <label for="newsletter-consent" class="form-remember">
                                <input type="checkbox" name="newsletter" id="newsletter-consent" required>
                                {{ 'I understand that the name and email I enter will be stored by the website, shared and securely stored with a 3rd party newsletter processor. I understand that I may be contacted by the Admin of the website at this email.'|trans({},'consent')}}
                            </label>
                        </div>
                    {% else %}
                        <div class="form-privacy">
                            {{ 'By signing up, you agree to our %start_terms% Terms of Services %end_terms% and %start_privacy% Privacy Policy %end_privacy%.'| trans({'%start_terms%' : '<a href="/'~getParameter('alias_terms_url_divisor')~'" class="link">', '%end_terms%' : '</a>', '%start_privacy%' : '<a href="/'~getParameter('alias_privacy_url_divisor')~'" class="link">', '%end_privacy%' : '</a>'}, 'account') | raw }}
                        </div>
                    {% endif %}
                </form>


            </div>
        </div>
    </div>

    {{ addJSFile("assets/js/widgets/newsletter/newsletter.js") }}
{% endif -%}

{% if backgroundImage %}
    {{ backgroundImage|raw }}
{% endif %}
