{% set module = getModule() -%}
{% set moduleSearch = getModuleSearch() -%}
{{ addJSTwigParameter("searchBoxModule", moduleSearch) }}
{% import "::blocks/utility/summary.html.twig" as Utility -%}
{% import "::blocks/utility/detail.html.twig" as UtilityDetail -%}

{% if item.coverImage.unsplash is not empty -%}
    {% set coverImage = item.coverImage.unsplash|raw -%}
{% elseif item.coverImage is not empty -%}
    {% set coverImage = asset(imagePath(item.coverImage), 'domain_images') -%}
{% endif -%}

{% if item.image.unsplash is not empty -%}
    {% set mainImage = item.image.unsplash|raw -%}
{% elseif item.image is not empty -%}
    {% set mainImage = asset(imagePath(item.image), 'domain_images') -%}
{% endif -%}

<div class="details-default details-posts" data-trans="{{ 'Blog Detail'|trans({}, 'widgets') }}">
    <div class="details-header" {{ coverImage ? 'style=background-image:url(' ~ coverImage ~ ')' : 'cover-image=false' }}>
        <div class="container">
            <div class="details-header-content">
                <div class="post-header">

                    {% if categories -%}
                    <div class="details-categories">
                        {% for category in categories if 'y' == category.enabled -%}
                            {% if isSample -%}
                                {% set link = 'javascript:void(0);' -%}
                            {% else -%}
                                {% set link = utility_generateSearchUrl(null, "post", category.friendlyUrl) -%}
                            {% endif -%}
                            <a href="{{ utility_generateSearchUrl(null, "blog", category.friendlyUrl) }}" class="categorie-item">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif -%}
                   
                    <h1 class="heading h-2 post-title">{{ item.title }}</h1>

                    <div class="post-date">{{ item.entered|localized_date('extensive.date.year.format'|trans({},'units')) }}</div>

                    {# ModStores Hooks #}
                    <div class="post-actions">
                        {{ bookmarkButton(item, 'post') }}

                        <div class="icon icon-md share-icon">
                            <i class="fa fa-share-alt"></i>
                            <div class="share-dropdown">
                                <div class="facebook"><i class="fa fa-facebook"></i></div>
                                <div class="twitter"><i class="fa fa-twitter"></i></div>
                                {% if getSetting('disable_whatsapp_share_button') != 'y' %}
                                <div class="whatsapp" data-url="{{ app.request.uri }}"><i class="fa fa-whatsapp"></i></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detail-body" id="detail-body">
        <div class="container">
            <div class="detail-body-content">
                <div class="tab-content">
                    <div class="tab-left">
                        {% if mainImage -%}
                            <div class="detail-gallery-main-image">
                                {% if isSample -%}
                                    <img data-src="{{ asset('assets/images/placeholders/1024x768.jpg') }}" alt="{{ item.title }}" class="lazy">
                                {% elseif item.image.unsplash is not empty -%}
                                    <img data-src="{{ item.image.unsplash|raw }}" alt="{{ item.title }}" class="lazy">
                                {% elseif item.image is not empty -%}
                                    {{ tagPicture(asset(imagePath(item.image), 'domain_images'), item.title, {'desktop': 'medium', 'tablet': 'medium'}) }}
                                {% endif -%}
                            </div>
                        {% endif -%}

                        <div class="post-description">
                            {{ item.content|raw }}
                        </div>

                        <div class="blog-share">
                            <div class="share-dropdown">
                                <div class="facebook"><i class="fa fa-facebook"></i></div>
                                <div class="twitter"><i class="fa fa-twitter"></i></div>
                                {% if getSetting('disable_whatsapp_share_button') != 'y' %}
                                <div class="whatsapp" data-url="{{ app.request.uri }}"><i class="fa fa-whatsapp"></i></div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <section>
                            {{ facebookComments() }}
                        </section>
                    </div>

                    <div class="tab-right">

                        {% set recent_post = recentBlogPost(4) -%}
                        {% set popular_post = popularBlogPost(4) -%}
                        {% set related_post = relatedBlogPost(1, categories) %}

                        {% if related_post is not empty -%}
                            <div class="cards-default" data-type="posts">
                                <div class="cards-header">
                                    <h2 class="heading h-4">Related Posts</h2>
                                </div>

                                <div class="cards-list no-margin" data-align="">
                                    {% for post in related_post -%}
                                        {% set link = path('blog_detail', {friendlyUrl: post.friendlyUrl, _format: 'html'}) -%}
                                        <div class="card card-horizontal card-horizontal-full">
                                            <div class="content">
                                                <a href="{{ link }}" class="title heading">{{ post.title }}</a>

                                                <div class="date">{{ date(post.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}</div>
                                            </div>

                                            <a href="{{ link }}" class="picture">
                                                {% if post.thumbnail is defined and post.thumbnail is not empty -%}
                                                    {% set image = asset(post.thumbnail, 'domain_images') -%}
                                                {% else -%}
                                                    {% set image = utility_getNoImagePath(item.title)|imagine_filter('noImage_small') -%}
                                                {% endif -%}
                                                {{ tagPicture(image, post.title) }}
                                            </a>
                                        </div>
                                    {% endfor -%}
                                </div>
                            </div>
                        {% endif -%}

                        {% if recent_post is not empty -%}
                            <div class="cards-default" data-type="posts">
                                <div class="cards-header">
                                    <h2 class="heading h-4">Latest Posts</h2>
                                </div>

                                <div class="cards-list no-margin" data-align="">
                                    {% for post in recent_post -%}
                                        {% set link = path('blog_detail', {friendlyUrl: post.friendlyUrl, _format: 'html'}) -%}
                                        <div class="card card-horizontal card-horizontal-full">
                                            <div class="content">
                                                <a href="{{ link }}" class="title heading">{{ post.title }}</a>

                                                <div class="date">{{ date(post.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}</div>
                                            </div>

                                            <a href="{{ link }}" class="picture">
                                                {% if post.thumbnail is defined and post.thumbnail is not empty -%}
                                                    {% set image = asset(post.thumbnail, 'domain_images') -%}
                                                {% else -%}
                                                    {% set image = utility_getNoImagePath(item.title)|imagine_filter('noImage_small') -%}
                                                {% endif -%}
                                                {{ tagPicture(image, post.title) }}
                                            </a>
                                        </div>
                                    {% endfor -%}
                                </div>
                            </div>
                        {% endif -%}

                        {% if popular_post %}
                            <div class="cards-default" data-type="posts">
                                <div class="cards-header">
                                    <h2 class="heading h-4">LA Weekly Favorites</h2>
                                </div>
                                <div class="cards-list no-margin" data-align="">
                                    {% for post in popular_post -%}
                                        {% set link = path('blog_detail', {friendlyUrl: post.friendlyUrl, _format: 'html'}) -%}
                                        <div class="card card-horizontal card-horizontal-full">
                                            <div class="content">
                                                <a href="{{ link }}" class="title heading">{{ post.title }}</a>

                                                <div class="date">{{ date(post.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}</div>
                                            </div>

                                            <a href="{{ link }}" class="picture">
                                                {% if post.thumbnail is defined and post.thumbnail is not empty -%}
                                                    {% set image = asset(post.thumbnail, 'domain_images') -%}
                                                {% else -%}
                                                    {% set image = utility_getNoImagePath(item.title)|imagine_filter('noImage_small') -%}
                                                {% endif -%}
                                                {{ tagPicture(image, post.title) }}
                                            </a>
                                        </div>
                                    {% endfor -%}
                                </div>
                            </div>
                        {% endif -%}

                        {% set banner = getBanner('square') %}
                        {% if banner is not empty %}
                            {{ banner|raw }}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{ addJSFile("assets/js/lib/social-likes.min.js") }}
{{ addJSFile("assets/js/modules/socialbuttons.js") }}
{{ addJSFile("assets/js/lib/jquery.fancybox.min.js") }}


