{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

{% for item in items -%}
    {% set itemData = getCardData(item, 'blog') %}

    <div class="card" data-columns="4">
        <a href="{{ itemData.detailLink }}" class="picture">
            {{ tagPicture(itemData.imagePath, item.title) }}
        </a>
        <div class="content">
            {% if item.categories -%}
                {{UtilityCards.categories(item.categories, content.module)}}
            {% endif %}

            <a href="{{ itemData.detailLink }}" class="title heading">{{ item.title }}</a>

            <div class="card-info">
                <div class="date">
                    {{ date(item.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
