{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

<div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" scrollable="false" mobile-columns="false" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container">
        <div class="cards-header">
            <h2 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h2>
            {% if widgetLink is not empty %}
                <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more posts'|trans({},'widgets') }}">
                    {{ content.widgetLink.label|trans({}, 'widgets') }}
                </a>
            {% endif %}
        </div>
        <div class="cards-wrapper" has-ads="{{ banner is not empty ? 'true' : 'false' }}" banner-type="{{content.banner}}">
            <div class="cards-list">
                {% for item in items -%}
                    {% set itemData = getCardData(item, 'blog') %}

                    <div class="card" data-columns="{{ itemsPerRow }}">
                        <a href="{{ itemData.detailLink }}" class="picture">
                            {{ tagPicture(itemData.imagePath, item.title) }}
                        </a>
                        <div class="content">
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module)}}
                            {% endif %}

                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>

                            <div class="date">
                                {{ date(item.publicationDate)|localized_date('extensive.date.year.format'|trans({},'units')) }}
                            </div>

                            {% if item.content is not empty -%}
                                {%- set description = item.content|striptags -%}
                            {% endif -%}

                            {% if description is not empty -%}
                                <div class="description">
                                    <p class="paragraph">{{- (description|length > 320 ? description|slice(0,319) ~ '...' : description)|raw -}}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if banner is not empty %}
                <div class="cards-ads">
                    {{banner | raw}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
