{% import "::blocks/utility/summary.html.twig" as Utility -%}
<div class="summary-card" summary-type="10" data-id="{{ item.id }}">
    {% if not HookFire('listingsummary_before_render_thumbnail', {"data": data, 'itemLevelInfo': itemLevelInfo, 'detailURL': detailURL, 'flags': flags}, true) %}
        {% if not (flags < 2 and not HookFire('summary_check_noimage', {}, true))  %}
            {% set image = data.thumbnail -%}
        {% else -%}
            {% set image = utility_getNoImagePath(data.title)|imagine_filter('noImage_small') -%}
        {% endif -%}

        {% if itemLevelInfo.hasDetail -%}
            <a href="{{ detailURL }}" class="summary-picture">
                {{ tagPicture(image, data.title) }}
            </a>
        {% else -%}
            <div class="summary-picture">
                {{ tagPicture(image, data.title) }}
            </div>
        {% endif -%}
    {% endif -%}

    <div class="summary-content">
        <div class="summary-heading hidden-grid-view">
            {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
        </div>
        {#title#}
        {% if itemLevelInfo.hasDetail -%}
            <a href="{{ detailURL }}" class="summary-title">{{ data.title }}</a>
        {% else %}
            <div class="summary-title">{{ data.title }}</div>
        {% endif %}
        {#end title#}
        {% if itemLevelInfo.hasSummaryDescription and data.description is not empty -%}
            <div class="summary-description">
                {{ data.description }}
            </div>
        {% endif %}
    </div>
    <div class="summary-footer hidden-list-view">
        {{ Utility.actions(itemLevelInfo,item,data,detailURL) }}
    </div>
</div>
